<!-- <div class="app-container">
  <div class="login-page">
    <h3 class="login-page__title">
       Welcome to TODO Application
    </h3>
    <div class="login-page__form">
      <input class="login-page__input" type="email" placeholder="Email" />
      <input class="login-page__input" type="password" placeholder="password" />
      <div class="login-page__actions">
        <a class="login-page__link" href="">Register</a>
        <button class="login-page__button" type="button">SIGN IN</button>
      </div>
    </div>
  </div>
</div> -->

<!-- <app-login></app-login> -->

<app-register></app-register>

<app-cat></app-cat>

<app-dog></app-dog>

<app-chicken></app-chicken>
