@import "../shared/styles/variable";

.app-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $background;
  height: 400px;
  width: 500px;
  gap: 30px;

  &__title {
    font-size: 32px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $gap_default;
    width: 100%;
  }

  &__input {
    width: 90%;

    &.--red-text {
      color: $red;
    }

    &.--bold-text {
      font-weight: bold;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    gap: $gap_default;
  }
}
